/*Kyrie Huang Xicheng*/
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.logo {
    width: 100px; 
    height: auto;
    margin-left: 1rem; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: white;
}

main {
    flex: 1;
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.5;
}

p {
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

img {
    width: 80%;
    margin: 1rem auto;
    display: block;
}

/* Page specific styles */
.index main,
.about-us main,
.support main {
    text-align: left;
}

.index img,
.product img {
    width: 70%;
}

.blog h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.blog p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.product-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    .product-card {
        grid-template-columns: 1fr;
    }
}

.product-card__item {
    border: 1px solid #ccc;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.product-card__image {
    width: 100%; 
    max-width: 120%; 
    height: auto; 
}


@media (min-width: 768px) {
    .product-card__image {
        width: 200%; 
        max-width: none; 
        margin-left: -10%;
        margin-right: -10%;
    }
}

.flow-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.step {
    position: relative;
    width: 80%;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
}

.step:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #333;
}
